@using WebCoffe.Models
@model List<Kava>
@{
    ViewBag.Title = "Ponuda";
}
<link rel="stylesheet" href="~/Content/Site.css">
<div class="jumbotron">
    <center>
    <h2 style="font-family:CaptureIt2;font-size:50pt">Popis</h2>

    <table id="popis" border="1">
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Cijena</th>
        </tr>
        @foreach (var kava in Model)
        {
            <tr>
                <td>@kava.Id</td>
                <td>@kava.Naziv</td>
                <td>$@kava.Cijena</td>
            </tr>
        }
    </table>
        <p>
            <a href="/Ponuda/IspisKave" class="btn btn-primary" style="background-color:rgb(50,50,50);font-family:CaptureIt; margin-top:20pt">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Ispis 
            </a>
        </p>
    </center>
</div>