body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: CaptureIt2;
    src: url(../fonts/Capture_it/Capture_it_2.ttf);
    font-weight: bold;
}

@font-face {
    font-family: CaptureIt;
    src: url(../fonts/Capture_it/Capture_it.ttf);
    font-weight: bold;
}

.home_naslov{
    font-family: CaptureIt2;
}

#popis {
    font-family: CaptureIt;
    border-collapse: collapse;
    width: 100%;
}

#popis td, #popis th {
    border: 1px solid #ddd;
    padding: 8px;
}

#popis tr:nth-child(even) {
    background-color: #f2f2f2;
}

#popis tr:hover {
    background-color: #ddd;
}

    #popis th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(70, 70, 70);
        color: white;
    }
