@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1 class="home_naslov" style="font-size:100pt; margin-bottom:100pt">Web_Coffee</h1>

        <div class="row">

            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(65,65,65);font-family:CaptureIt" href="/Ponuda">Ponuda</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(65,65,65);font-family:CaptureIt" href="/Mapa">Mapa</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(65,65,65);font-family:CaptureIt" href="/Stats">Stats</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(65,65,65);font-family:CaptureIt" href="/Shop">Shop</a>
            </div>
        </div>
    </center>
</div>