@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1 class="home_naslov">Web_Coffee</h1>
    </center>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Ponuda">Ponuda</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Mapa">Mapa</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Stats">Stats</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Shop">Shop</a>
    </div>
</div>