
@{
    ViewBag.Title = "Potvrda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <center>

        <h2 style="font-family:CaptureIt; font-size:50pt; margin-bottom:100pt">Uspjesna Narudzba!</h2>

        <div class="row">

            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(50,50,50);font-family:CaptureIt" href="/Shop">Natrag</a>
            </div>

            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" style="font-size:25pt;background-color:rgb(50,50,50);font-family:CaptureIt" href="/Home">Home</a>
            </div>

        </div>
    </center>
</div>

