
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="gmap_canvas">
        <iframe width="1020" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=Starbucks%20Zagreb&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://123movies-to.org"></a>
        <br>
        <style>
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 600px;
                width: 1280px;
                position: center
            }
        </style>
    </div>
</div>

